/* NAVBAR */

.navbar {
    background-color: #075E24;
}

.navbar-brand {
    color: white !important;
    margin-left: 10px;
    font-size: 15px;
    justify-content: first baseline !important;
}

.navbar-nav a {
    color: white !important;
}

.navbar .navbar-collapse {
    justify-content: end;
}

.navbar .container-fluid {
    width: 80%;
}

.navbar img {
    width: auto;
    height: 40px;
}

.navbar-nav .active {
    font-weight: 700;
}

.nav-link {
    padding: 5px 20px !important;
}

.nav-link:hover {
    background-color: #7faf48 !important;
}

