/* NAVBAR */

.navbar {
    background-color: #075E24;
}

.navbar-brand {
    color: white !important;
    margin-left: 10px;
    font-size: 15px;
    justify-content: first baseline !important;
}

.navbar-nav a {
    color: white !important;
}

.navbar .navbar-collapse {
    justify-content: end;
}

.navbar .container-fluid {
    width: 80%;
}

.navbar img {
    width: auto;
    height: 40px;
}

.navbar-nav .active {
    font-weight: 800;

}

.nav-link {
    padding: 5px 20px !important;
}

.nav-link:hover {
    background-color: #7faf48 !important;
}

/* Admin-page */

.admin-page {
    margin-top: 100px;
    margin-left: 240px;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    margin-top: 70px;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }

    .admin-page {
        margin-left: 0;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    background-color: #075E24 !important;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}



/* User_profile css */

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.customcard {
    background-color: red !important;
    color: red !important;
}

/* User profile ends */



/* otp form */

.digit-group input {
    width: 30px;
    height: 50px;
    background-color: #18182a;
    border: none;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: white;
    margin: 0 2px;
}

.digit-group .splitter {
    padding: 0 5px;
    color: white;
    font-size: 24px;
}

.prompt {
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}


/* user-profile new  */
.halkagrey {
    background-color: #eee;
}

